In [1]:
from scipy.io import arff
import pandas as pd

In [2]:
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])
df['bankruptcy'] = (df['class']==b'1')

In [5]:
df1 = df[['Attr1','Attr2','Attr7', 'Attr10', 'bankruptcy']]
df1.rename(columns = {'Attr1':'X1', 'Attr2':'X2','Attr7':'X7','Attr10':'X10'}, inplace = True)

In [6]:
df1.fillna(df1.mean(), inplace = True)

In [7]:
df1_std = df.groupby('bankruptcy').std()
df1_mean = df.groupby('bankruptcy').mean()
df1.describe()

                X1           X2           X7          X10
count  9792.000000  9792.000000  9792.000000  9792.000000
mean      0.043019     0.596404     0.059446     0.389040
std       0.359303     4.586887     0.533317     4.590064
min     -12.458000     0.000000   -12.458000  -445.910000
25%       0.001322     0.263163     0.003005     0.294510
50%       0.041374     0.467770     0.048840     0.510435
75%       0.111125     0.689183     0.126930     0.714285
max      20.482000   446.910000    38.618000    12.602000

In [8]:
temp1 = df1['X1'].mean()- df1['X1'].std()
temp2 = df1['X10'].mean()- df1['X10'].std()
num_total = len(df_1.loc[(df_1['X1'] < temp1) & (df_1['X10'] < temp2)])
num_bankrupt = len(df_1.loc[(df_1['X1'] < temp1) & (df_1['X10'] < temp2) & (df_1['bankruptcy'] == True)])
ratio = num_bankrupt/num_total
print(ratio)

0.2